@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root{
--yellow: #f9ca24;
}
*{
    font-family: 'Nunito', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none; border: none;
text-transform: capitalize;
transform: all .2s linear;
}
*::selection{
    background:var(--yellow);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
background: #2d2c2c;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
    }
body{
    background: #342828;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background: #2d2c2c;

}

header .user img{
    height: 27rem;
    width: 27rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2rem solid var(--yellow);
    }
    header .user .name{
        font-size: 3.5rem;
        color: #fff;
    }
    header .user .name{
        font-size: 3.5rem;
        color: #eee;
    }
    header .user .post{
        font-size: 2rem;
        color: #eee;
    }

header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}





@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
        @media (max-width:991px){
            header{
                left: -120%;
            
        }


            #menu{
                display: block;
            }
            
        header.toggle{
            left: 0%;
        }
}












